.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.fa{
    color: #507642;
}

#weather {
    font-size: 1.1em
}

.WNFAlerts{
    color:#A37B45;
}

#WNFTitle{
    text-decoration: underline;
}

.slow-spin {
  -webkit-animation: fa-spin 10s infinite linear;
  animation: fa-spin 10s infinite linear;
}

.navbar a:hover{
     color: #60401F !important;
}

#bottomTrees{
    width: 100%;
}