body{
    background-color: #928951;
}

.jumbotron{
    background-color: #977953;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #738035;
}

.navbar-inverse {
    color: #332C2F;
}

.navbar-inverse li a{
    color: #928951;
    }