/*body background = #E9E2AE*/
/*jumbotron background = #977953*/
/*button background = #738035*/
/*navbar inverse color = #332C2F*/
/*navbar inverse text color = #928951*/

body{
    background-color: #E9E2AE !important
}

.jumbotron{
    background-color: #977953 !important
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #738035 !important;
}

.navbar-inverse {
    color: #332C2F !important;
}

.navbar-inverse li a{
    color: #928951 !important;
    }